# Environment
.env
.venv/
venv/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# PyCharm
.idea/

# VS Code
.vscode/

# Testing
.pytest_cache/
.coverage
htmlcov/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Alembic / Database
*.db
*.sqlite
*.sqlite3

# Build
build/
dist/
*.egg-info/
